# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
.idea
.clion*
cmake-build-*
demo
build
build_*
/**/__pycache__

modules.order
Module.symvers
*.mod.c
*.ko
*o.cmd
*.cache.mk
/**/.tmp_versions

